* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    list-style: none;
}

@font-face {
    font-family: "Roboto";
    src: url(./imges_font/Font/Roboto-Medium.ttf);
}

.container {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.posab {
    position: absolute;
}

.posrel {
    position: relative;
}

.align {
    align-items: center;
}

.jst {
    justify-content: space-between;
}

.justify {
    justify-content: center;

}

.heading {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

/* Toggle button/navbar start */
.navbar {
    Width: 100vw;
    background-color: brown;
    text-align: center;
    text-decoration: none;
    list-style: none;
    Position: fixed;
    Top: -150%;
    Transition: all .5s ease;
}

.navbar.active {
    top: 0;
}

.fa-bars,
.fa-times {
    transition: all .3s ease-in-out;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 50;
    right: 10px;
    display: block;
    padding: 50px 0 10px auto;
}

.menu i {
    color: #ffff;
}

/* Toggle button/ Navbar end */

/* Navbar start*/
.navbar ul li {
    Display: block;
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.navbar ul li a {
    text-decoration: none;
    list-style: none;
    color: #ffd7ad;
    font-size: 2rem;
    font-weight: 300;
}

.navbar ul li:hover {
    background-color: #ffd7ad;
    border-radius: 5px;
}

.navbar ul li a:hover {
    color: #4a1831;
}

/* Navbar End*/

/* header start */
.header {
    background-image: url(./imges_font/img1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.padding {
    padding: 50px 0;
}

.logo1 {
    color: #ffd7ad;
}

.logo1 img {
    width: 20%;
    display: block;
}

.logo1 h1 {
    font-size: 4rem;
    font-weight: 500;
}

.logo1 p {
    max-width: 80%;
    font-size: 2rem;
    font-weight: 70;
}

button,
.seeoff {
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: #ffd7ad;
    padding: 10px 30px;
    margin: 30px 0;
}

.written,
.seeoff {
    text-transform: uppercase;
    color: #4a1831;
    font-weight: 600;
}

/* header end */
/* Sec1 start */
.sec1 {
    background-color: #ffd7ad;
    color: #4a1831;
    text-align: center;
    padding: 30px 0;
}

.sec1 h5 {
    padding: 10px 0;
}

.sec1 p {
    width: 50%;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}

.sec1 button {
    background-color: #4a1831;
}

.m-auto {
    margin: 0 auto;
}

.seemenu {
    text-transform: uppercase;
    color: #ffd7ad;
    font-weight: 600;
}
/* Sec1 end */

/* Sec1_1 start */
.sec1_1 {
    background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.586)),url(./imges_font/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews {
    background-color: rgba(251, 251, 251, 0.683);
    color: #4a1831;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 20px;
}

.reviews h3 {
    font-size: 2.5rem;
    color: #4a1831;
    margin: 10px 0;
}

.lorem {
    background-color: rgba(251, 251, 251, 0.5);
    color: #4a1831;
    margin: 10px 15px;
    border-radius: 10px;
    display: inline-block;
}

.lorem p {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 2;
    margin: 7px 10px;
    padding: 10px;
}

.fam {
    display: grid;
    place-items: center;
}
/* Sec1_1 end */

/* sec2 start */
.sec2 {
    background-color: #ffd7ad;
    color: #4a1831;
    padding: 30px 0;
}

.img3 img {
    width: 100%;
}

.aboutMarichi h5 {
    letter-spacing: 0.3rem;
    margin: 20px 0;
}

.aboutMarichi p {
    width: 80%;
    font-size: 2rem;
    font-weight: 100;
}

.aboutMarichi button {
    border-radius: 32px;
    background-color: #4a1831;
}
/* sec2 end */

/* sec3 start */
.sec3 {
    background-color: #ffd7ad;
}

.image4 img {
    display: block;
    width: 90%;
    padding: 0 50px;
    margin: 0 60px;
}

.image4 {
    font-weight: 800;
    text-transform: uppercase;
}

.image4 h3 {
    font-size: 10rem;
    color: #e63956;
}

.image4 h5 {
    font-size: 5rem;
    color: #55112e;
}

.image4 h4 {
    font-size: 8.5rem;
    color: #6cc5ac;
}

/* sec3 end */

/* sec4 start */
.sec4 {
    background-color: #4a1831;
    padding: 40px 0;
}

.seeoffer h5 {
    color: #ffd7ad;
    padding: 20px 0;
}

.seeoffer p {
    width: 80%;
    color: #ffd7ad;
    font-size: 2rem;
    font-weight: 100;
}

.img5 img {
    width: 100%;
}

/* sec4 end */

/* sec4_1 start */
.sec4_1 {
    background-color: #ffd7ad;
    text-align: center;
}

.lorembox {
    color: #4a1831;
}

.lorembox h3 {
    padding: 10px;
    font-size: 3rem;
    font-weight: 500;
}

.lorembox ul li {
    font-size: 1.8rem;
    text-align: left;
    padding: 5px 30px;
}

.lorembox button {
    background-color: #4a1831;
    color: #ffd7ad;
    margin-bottom: 50px;
}

.col25 {
    width: 25%;
}

.box25_1 {
    width: 30%;
    background-color: rgba(251, 251, 251, 0.2);
    color: #4a1831;
    margin: 10px 10px;
    border-radius: 20px;
}

.img_box25 {
    width: 100%;
}

.img_box25 img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.box25_1 h3 {
    font-size: 2.5rem;
    padding: 10px;
}

.box25_1 p {
    font-size: 2rem;
    padding: 15px 10px;
}

/* sec4 end */

/* sec5 start */
.sec5 {
    background-image: url(./imges_font/img6.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.log2 img {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.pedro {
    color: #ffd7ad;
    text-align: center;
    font-size: 2.5rem;
}

.pedro p {
    width: 70%;
    margin: 0 auto;
    font-weight: 100;
    padding: 20px 0;
}

.pedro h5 {
    font-weight: 300;
    padding: 20px 0;
}

/* sec5 end */

/* sec6 start */
.sec6 {
    background-color: #ffd7ad;
    padding: 40px 0;
}

.Latestoffer {
    color: #4a1831;
    text-align: center;
}

.Latestoffer h5 {
    padding: 30px 0;
}

.Latestoffer p {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 100;
}

.btn {
    text-align: center;
}

.btn input {
    border: none;
    outline: none;
    border-radius: 32px;
    font-size: 1.5rem;
    padding: 10px;
    width: 30%;
}

.btn button {
    background-color: #4a1831;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: -24px;
}

/* sec6 end */

/* Footer sec7 start */
.sec7 {
    background-color: #4a1831;
    padding: 2rem 0;
}

.fhadding ul li {
    display: inline-block;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.faceb li i {
    background-color: #ffd7ad;
    color: #4a1831;
    padding: 5px;
    border-radius: 50px;
    font-size: 2rem;
}

.fhadding {
    background-color: #4a1831;
    color: #ffd7ad;
}

.fhadding h6 {
    font-size: 3rem;
    font-weight: 300;
    padding: 10px 0;
}

.fhadding p {
    width: 70%;
    font-size: 1.7rem;
    font-weight: 200;
    padding: 10px 0;
}

.fhadding ol li {
    font-size: 1.7rem;
    padding: 5px 0;
}
/* Footer sec7 end */